#!/usr/bin/env python
#JHK
import numpy as np
from netCDF4 import Dataset
import os, pathlib
from sklearn.linear_model import Ridge
import joblib

i_path = 'h_dir/dataset/'

o_path = 'h_dir/output/exp_name/input_var/'
o_name = 'os7_ooo'
pathlib.Path(o_path).mkdir(parents=True,exist_ok=True)

# input
f = Dataset('h_dir/input/test_inp', 'r')
test_x = f['input_var'][:,0,12:67]

test_tdim, ydim, xdim = test_x.shape
#test_x = test_x.reshape(test_tdim, ydim, xdim)

# load trained model
model = joblib.load(o_path+'model.joblib')

# sensitivity test
result = np.zeros((test_tdim,55,160))
for i in range(49):
    for j in range(154):

        print(i, j)

        # mask 3x3 area
        msk = np.array(test_x)
        msk[:,i:i+7,j:j+7] = 0

        msk = msk.reshape(test_tdim,ydim*xdim)

        # prediction
        tmp = model.predict(msk)
        result[:,i+3,j+3] = np.array(tmp)
        del msk, tmp

result.astype('float32').tofile(o_path+o_name+'.gdat')

ctl = open(o_path+o_name+'.ctl','w')
ctl.write('dset ^'+o_name+'.gdat\n')
ctl.write('undef -9.99e+08\n')
ctl.write('xdef  160  linear   0. 2.5\n')
ctl.write('ydef   55  linear -60. 2.5\n')
ctl.write('zdef   1  linear 1 1\n')
ctl.write('tdef '+str(test_tdim)+'  linear 01jan1850 1dy\n')
ctl.write('vars   1\n')
ctl.write('agmt    1   1  AGMT estimates\n')
ctl.write('ENDVARS\n')
ctl.close()

os.system('cdo -f nc import_binary '+o_path+o_name+'.ctl '+o_path+o_name+'.nc')
os.system('rm -f '+o_path+o_name+'.ctl '+o_path+o_name+'.gdat')

